@import '../../../utils/mixins';


.problems{
    *{
        margin: 0;
        padding: 0;
        font-family: 'Nanum Gothic', sans-serif;
        p{
            margin: 0 0 20px 0;
        }
        a{
            text-decoration: none;
            color: white;
            margin: 20px;
            padding: 10px;
            background-color: red;
            border-radius: 10px;
            box-shadow: 0.2px 0.2px 3px 1px gray;
        }
    }
    header{
        margin: 20px 0 20px 0;
        h1{
            padding: 20px 0;
        }
    }
    @include mobile{
        .card{
            width: 300px;
            margin: 0 auto;
        }
    }
    @include tablet{
        .card{
            width: 600px;
            margin: 0 auto;
        }
    }
    @include desktop{
        .card{
            width: 800px;
            margin: 0 auto;
        }
    }
    .card{
        margin: 20px auto;
        background-color: rgba($color: #000000, $alpha: 0);
        border-radius: 20px 20px 10px 10px;
        text-align: left;
        .header{
            text-align: center;
            padding: 10px;
            background-color: rgba(200, 200, 200, 255);
            color: black;
            font-size: 12pt;
            border-radius: 20px 20px 0 0;
        }
        .inside{
            min-height: 150px;
            border-radius: 0 0 10px 10px;
            padding: 20px;
        }
        .input{
            margin: 0 0 20px 0;
        }
        box-shadow: 2px 2px 5px 1px gray;
    }
}